body {
  font-family: sans-serif;
  margin: 0;
}
a {
  color: black;
}

.navbarDiv {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  background-color: #fff;

  padding: 10px;
  padding-top: 0%;
}
.navbarDiv ul {
  list-style: none;
}
.navbarList li {
  margin-right: 10px;
}
.navbarList li:last-child {
  margin-right: 0;
}

.navbarList {
  display: flex;
  justify-content: space-evenly;

  list-style: none;
  padding: 0;
}

.topMenu {
  position: fixed;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  background-color: #fff;

  padding: 10px;
  padding-top: 0%;
}
.menuList ul {
  list-style: none;
}
.menuList li {
  margin-right: 10px;
}
.menuList li:last-child {
  margin-right: 0;
}

.menuList {
  display: flex;
  justify-content: space-evenly;

  list-style: none;
  padding: 0;
}
.locationDiv {
  display: flex;
  align-items: center;
}
#locationButton {
  background-color: #212a3e;
  color: white;

  border-radius: 5px;
  height: 100%;

  border: none;
}
#locationButton:hover {
  cursor: pointer;
}
.homePage {
  margin-top: 70px;
}
.specialsDiv {
  display: flex;
  color: #fff;
  flex-direction: column;
  background-color: #212a3e;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.specialsDiv button {
  font-family: sans-serif;
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
}
.specialsDiv button:hover {
  cursor: grab;
}
.specialsDiv button:active {
  cursor: grabbing;
  opacity: 80%;
}
.query {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: center;
  width: 80%;
}
.query input {
  /* width: 80%; */
  border: 1px solid #dad9d9;
  height: 2rem;
  border-radius: 10px;
}
.popularFood {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.popularFoodDiv {
  display: flex;
  margin-top: 1%;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.popularFood a {
  text-decoration: none;
  color: #888;
}

.foodDiv {
  display: flex;
  flex-direction: row;

  margin-top: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.foodDiv a {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
}
.foodCard {
  display: flex;
  border: 1px solid #212a3e;
  color: white;
  background-color: #212a3e;

  flex-direction: column;
  margin-bottom: 1rem;

  width: 30%;
  border-radius: 5px;
  align-items: end;
}
.foodDiv > div {
  flex-basis: calc(50% - 1rem);
  /* margin-bottom: 1rem; */
}
.foodCard img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 10em;
  height: 10em;
  z-index: 0;
  transform: scale(1.1);
}
.foodCard h4 {
  margin-left: auto;
  margin-right: auto;
}
.foodCard b {
  margin-left: auto;
  margin-right: auto;
}
.ratingDiv {
  display: flex;
  align-items: center;
}

.selectedItem {
  margin-top: 5em;
}
@media only screen and (min-width: 600px) {
  .specialsDiv {
    width: 25%;
    /* color: red; */
  }
}
@media only screen and (max-width: 600px) {
  .foodDiv {
    flex-direction: column;
    align-items: center;
  }
  .foodCard {
    width: 80%;
    margin-bottom: 5rem;
  }
}
